

// Color
$sidebar-bg: $body-bg !default;
$sidebar-color: $body-color !default;

$sidebar-bg-hover: lighten($primary, 40%) !default;
$sidebar-color-hover: $body-color !default;

$sidebar-bg-selected: lighten($primary, 30%) !default;
$sidebar-color-selected: $body-color !default;

$sidebar-border-color: darken($primary, 10%) !default;

// Layout
$sidebar-width: 280px !default;
$sidebar-padding-x: 4px !default;
$sidebar-padding-y: 4px !default;
$sidebar-border-size: 2px !default;

$sidebar-header-padding-y: 16px !default;
$sidebar-header-image-size: 34px;
$sidebar-header-margin-bottom: 20px !default;

$sidebar-item-spacing-y: 4px !default;
$sidebar-item-border-radius: 0px !default;

$sidebar-icon-width: 20px;
$sidebar-item-text-left-padding: 10px !default;
$sidebar-item-left-padding: 22px !default;
$sidebar-item-spacing-level: $sidebar-icon-width + $sidebar-item-text-left-padding !default;

$sidebar-collapsed-width:   $sidebar-padding-x*2
                            + $sidebar-icon-width
                            + $sidebar-item-left-padding*2
                            + $sidebar-border-size
                            ;

// Transition
$sidebar-open-transition-time: 0.2s !default;

$sidebar-open-collapse-panel-transition: 0.4s !default;
