@import './styles/variables.scss';

.sidebar
{
    width: $sidebar-width;
    padding: $sidebar-padding-y $sidebar-padding-x;
    margin-left: 0;

    height: 100%;
    overflow-y: auto;

    box-shadow: 7px 0 60px rgba(0,0,0,.05);
    background: $sidebar-bg;
    
    transition: all $sidebar-open-collapse-panel-transition;
    
    user-select: none;
    overflow-x: hidden;

    z-index: 1;
    
    .sidebar-item
    {
        cursor: pointer;
        text-decoration: none;

        color: $sidebar-color;

        padding: $input-padding-y 0;
        padding-left: calc(#{$sidebar-item-left-padding} + var(--level) * #{$sidebar-item-spacing-level});

        margin-top: $sidebar-item-spacing-y;
        border-radius: $sidebar-item-border-radius;

        height: $input-height;
        font-family: $input-font-family;
        @include font-size($input-font-size);
        font-weight: $input-font-weight;
        line-height: $input-line-height;

        display: flex;
        position: relative;

        transition: padding-left $sidebar-open-transition-time ease-out;

        > .sidebar-item-label
        {
            display: flex;
            position: relative;

            color: $sidebar-color;
            > i
            {
                width: $sidebar-icon-width;

                display: flex;
                align-items: center;
                justify-content: center;
            }
            > span
            {
                white-space: nowrap; 
                transition: opacity $sidebar-open-transition-time ease-out;
                
                &:nth-child(2)
                {
                    padding-left: $sidebar-item-text-left-padding;
                }
            }
        }
        > i
        {
            position: absolute;
            right: 8px;
            transition: all $sidebar-open-transition-time ease-out;
        }
        &:hover
        {
            color: $sidebar-color-hover;
            background: $sidebar-bg-hover;
            > .sidebar-item-label
            {
                color: $sidebar-color-hover;
            }
        }

        &.active
        {
            color: $sidebar-color-selected;
            background: $sidebar-bg-selected;

            border-right: $sidebar-border-size solid $sidebar-border-color;
        }
    }

    .sidebar-submenu
    {
        overflow: hidden;
    }

    .sidebar-header
    {
        display: flex;
        align-items: center;
        margin-bottom: $sidebar-header-margin-bottom;
        padding-top: $sidebar-header-padding-y;
        padding-bottom: $sidebar-header-padding-y;

        padding-left: ($sidebar-collapsed-width - ($sidebar-padding-x*2))/2 - $sidebar-header-image-size/2;
        
        color: $sidebar-color;
        border-bottom: 1px solid #eee;

        white-space: nowrap;

        > img
        {
            width: $sidebar-header-image-size;
            height: $sidebar-header-image-size;
            border-radius: 50%;
        }
        > span
        {
            font-size: 1.2rem;
            font-weight: 500;
            
            white-space: nowrap;
            padding-left: $sidebar-item-text-left-padding;
            transition: opacity $sidebar-open-transition-time ease-out;
        }
    }

    .sidebar-content
    {
        display: block;
        overflow: hidden;
        transition: height $sidebar-open-transition-time ease-out;
    }

    .sidebar-item-badge
    {
        @mixin mixin-badge($text-color, $background-color)
        {
            color: $text-color!important;
            background-color: $background-color!important;
        }
        font-size: 75%;
        font-weight: 500;
        padding: 2px 5px;
        border-radius: 3px;
        display: inline-block;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);

        color: white;
        background: black;
        
        &.default   { @include mixin-badge(#fff, #000); }
        &.primary   { @include mixin-badge(#fff, $primary-background); }
        &.secondary { @include mixin-badge(#fff, $secondary-background); }
        &.success   { @include mixin-badge(#fff, $success-background); }
        &.danger    { @include mixin-badge(#fff, $danger-background); }
        &.warning   { @include mixin-badge(#fff, $warning-background); }
        &.info      { @include mixin-badge(#fff, $info-background); }
        &.light     { @include mixin-badge(#000, $light-background); }
        &.dark      { @include mixin-badge(#fff, $dark-background); }
    }
}

.sidebar-hidden
{
    .sidebar
    {
        position: absolute;
        margin-left: -$sidebar-width;
    }
}

.sidebar-collapsed
{
    .sidebar:not(.hover)
    {
        width: $sidebar-collapsed-width;
        overflow: hidden;

        .sidebar-item
        {
            padding-left: $sidebar-item-left-padding;

            > .sidebar-item-label
            {
                > i
                {
                }
                > span
                {
                    opacity: 0;
                }
            }
            > i
            {
                opacity: 0;
            }
        }

        .sidebar-header
        {
            > span
            {
                opacity: 0;
            }
        }
    }
}
